@import url("https://fonts.googleapis.com/css2?family=Special+Gothic:wght@400..700&family=Stack+Sans+Headline:wght@200..700&display=swap");

body {
  font-family: "Special Gothic", sans-serif;
  color: #2b2527;
  background-color: #f4ecdb;
}

a {
  text-decoration: none;
  color: #2b2527;
}

h1,
h2,
h3 {
  font-family: "Stack Sans Headline";
  margin: 0;
}

.header-desktop {
  display: none;
}

.header-mobile {
  display: flex;
  justify-content: space-around;
}

.navbar {
  width: 100%;
  background-color: #93b274;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-image {
  width: 80px;
  height: fit-content;
  background-color: #f4ecdb;
  border-radius: 50%;
  margin-right: 12px;
}

.logo-text {
  font-size: 48px;
}

.navbar-nav {
  padding-top: 24px;
  text-align: center;
  font-weight: 500;
}

.nav-link {
  color: #f4ecdb;
}

.nav-link.active {
  color: #f4ecdb !important;
  text-decoration: underline;
}

main {
  margin: 54px 24px;
}

h1 {
  font-size: 48px;
}

.main-title {
  text-align: center;
}

footer {
  background-color: #93b274;
  font-size: 12px;
  color: #2b2527;
  text-align: center;
  padding: 36px 0;
}

.background-svg {
  position: fixed;
  top: 50%;
  right: 20%;
  width: 60vmin;
  height: 60vmin;
  transform: translate(-50%, -50%);
  opacity: 0.35;
  z-index: -1;
  animation: rotate 40s linear infinite;
  color: #93b274;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (min-width: 1280px) {
  .header-mobile {
    display: none;
  }

  .header-desktop {
    display: flex;
    justify-content: space-around;
  }

  header {
    margin: 24px 0;
  }

  nav {
    background-color: #93b274;
    padding: 24px;
    border-radius: 48px;
  }

  .logo-image {
    background-color: #93b274;
  }

  nav a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #f4ecdb;
    padding: 16px;
  }

  .main-content {
    font-size: 24px;
  }
}
